<!doctype html>
<html lang="pt-br">

@model ProjetoSisConBens.Models.Cidade

@{
    ViewData["Title"] = "Cidade.";
}



<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/333b0ca1b3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>SiCoBe\Cidade</title>

</head>


<body>
    <h4><strong>Cadastro de Cidade</strong></h4>
    <hr />


    <div class="container">

        <form asp-action="Create" class="form-floating">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
   

            <div class="row justify-content-md-center">



                <div class="col-sm-6">
                    <strong>
                        <label asp-for="CidadeNome" class="control-label"></label>
                    </strong>
                    <input asp-for="CidadeNome" class="form-control" />
                    <span asp-validation-for="CidadeNome" class="text-danger"></span>
                </div>

                <div class="col-sm-6">
                    <strong>
                        <label asp-for="CidadeUf" class="control-label"></label>
                    </strong>
                    <input asp-for="CidadeUf" class="form-control" />
                    <span asp-validation-for="CidadeUf" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <br />
                    <strong>
                    <input type="submit" value="Cadastrar" class="btn btn-primary" /> | 
                    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
                    </strong>
                </div>

            </div>
        </form>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>


</body>

</html>
