<!doctype html>
<html lang="pt-br">

@model ProjetoSisConBens.Models.Cidade

@{
    ViewData["Title"] = "Cidade.Apagar";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/333b0ca1b3.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>SiCoBe\Cidade</title>

</head>


<body>

    <h4><strong>Confirma a exclusão desse cargo?</strong></h4>
    <hr />
    <div>

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CidadeNome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CidadeNome)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CidadeUf)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CidadeUf)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="CidadeId" />
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </form>
    </div>


</body>

</html>

